:root {
  --light-text-color: #757575;
  --dark-text-color: #212121;
  --white-text-color: #ffffff;
  --light-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --header-line-color: #ececec;
  --accent-color: #2196f3;
}

* {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  font-style: normal;
}

/*index*/
body {
  color: var(--light-text-color);
  background-color: var(--white-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
button {
  font-family: inherit;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */
.header .logo {
  margin-right: 93px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.logo-web {
  color: var(--accent-color);
}
.header .logo-studio {
  color: var(--dark-text-color);
}

.header a:hover,
.header a:focus {
  color: var(--accent-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav-list {
  display: flex;
  align-items: center;
  margin-right: 50px;

  color: var(--dark-text-color);
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.main-nav .item:not(:last-child) {
  margin-right: 50px;
}

.main-nav-link:visited {
  color: var(--accent-color);
}

.main-nav .main-nav-link .current {
  border: solid 1px;
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.header-contacts {
  display: flex;
  margin-left: auto;

  color: var(--light-text-color);
}
.header-contacts a {
  color: var(--light-text-color);
}

.header-contacts-link + .header-contacts-link {
  margin-left: 50px;
}
.main-nav-link,
.header-contacts-link {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header {
  display: flex;
  width: 1600px;
  height: 80px;
}

/* Section hero */
.hero .container {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-color: var(--dark-background-color);
}
.hero .title {
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.hero button {
  margin-top: 40px;

  font-size: 14px;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding: 5px 10px;
}
/* Section features */
.features {
  display: flex;
  padding-top: 94px;
}
.features .item {
  margin-right: 30px;
  width: 270px;
}
.features .item:not(:last-child) {
  margin-right: 30px;
}

.features .features-title {
  color: var(--dark-text-color);
  font-weight: 700;
  text-transform: uppercase;
}

.features p {
  margin-top: 10px;

  line-height: 1.7;
}

/* Section work  --Наша команда--*/
.work,
.team {
  padding-top: 94px;
}
.team {
  padding-bottom: 94px;
  background-color: var(--light-background-color);
}
.work-list {
  display: flex;
}
.work .item:not(:last-child) {
  margin-right: 30px;
}

.work .title,
.team .title {
  margin-bottom: 50px;

  color: var(--dark-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.team-list {
  display: flex;
}
.team-list .photo {
  width: 270px;
  height: 260px;
}
.team-list .item {
  width: 270px;
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.team h3 {
  margin-top: 30px;
  padding-right: 10px;
  padding-left: 10px;

  color: var(--dark-text-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.team p {
  margin-top: 10px;
  padding-right: 10px;
  padding-left: 10px;

  color: var(--light-text-color);
  font-size: 16px;
  text-align: center;
}

footer {
  display: flex;
  background-color: var(--dark-background-color);
}

.footer .logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
}
.footer-logo-studio {
  color: var(--white-text-color);
}
.footer-nav {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 215px;
}
.footer .contacts {
  margin-top: 20px;
}
.footer .address {
  color: var(--white-text-color);
}
footer .item {
  font-size: 14px;
  line-height: 1.7;
}

.item-contacts {
  margin-top: 9px;
  color: rgba(255, 255, 255, 0.6);
}

/*portfolio-style*/

/*portfolio-style*/

/*portfolio-style*/

.filter {
  display: block;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-bottom: 50px;
}
.filter .item {
  margin-right: 8px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  border-color: var(--light-background-color);
  border-radius: 4px;

  color: var(--dark-text-color);
  background: var(--light-background-color);
  border-radius: 4px;
  border-color: var(--light-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}
.filter .item:hover,
.item:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.filter .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-projects-filter button:hover {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}
.portfolio-projects button,
.portfolio-projects p {
  text-transform: capitalize;
}

.portfolio-projects {
  padding-top: 94px;

  color: var(--light-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-projects .text {
  margin-top: 0px;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid;
  border-top: none;
  border-color: #e5e5e5;

  color: var(--light-text-color);
}

.portfolio-projects .project-title {
  margin-bottom: 4px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.projects-list .item {
  margin: 15px;
}
.projects-list a {
  display: flex;
  flex-direction: column;
}
.project-title {
  color: var(--dark-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
